.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 25px;
    

    a {
        color: #7BA3A5;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
    }
}
@media (max-width: '600px') {
    a {
        font-size: 1rem !important;

    }
}